{% extends 'adminview.html' %}
{% block myContent %}
<style>
    #nav1{
        background-color: white;
    }
    h3{
        background-color: whitesmoke;
    }
</style>
<div class="container">
    <div class="row">
        <!-- <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>  -->
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
        <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8"> <form action="http://127.0.0.1:8000/voizfonica/addapi/" method="post" enctype="multipart/form-data">
            <div id="nav1">
            <table class="table table-borderless">
                <h3><center><strong>CUSTOMER REGISTRATION</strong></center></h3>
                <tr>
                    <td>CUSTOMER NAME</td>
                    <td><input name="Cname" type="text" class="form-control" required pattern="/^[A-Za-z]+$/"></td>
                </tr>
                <tr>
                    <td>AADHAR</td>
                    <td><input  name="Cadhar" type="text" class="form-control" required pattern="[0-9]{1,12}"></td>
                </tr>
                <tr>
                    <td>EMAIL ID</td>
                    <td><input pattern="[\w-]{1,20}@\w{2,20}\.\w{2,3}$"  name="Cemail" type="text" class="form-control" required></td>
                </tr>
                <tr>
                    <td>ADDRESS</td>
                    <td><input  name="Caddress" type="text" class="form-control" required pattern="/^[A-Za-z]+$/"></td>
                </tr>
                <tr>
                    <td>ALTERNATE MOBILE NO</td>
                    <td><input pattern="(0|91)?[-\s]?[6-9]\d{9}" name="Calternatemobilenumber" type="text" class="form-control" required></td>
                </tr>
                <tr>
                    <td>TYPE</td>
                    <!-- <td><input  name="Typeofcustomer" type="text" class="form-control" required></td> -->
                  <td>
                    <select  name="Typeofcustomer" id="" class="form-control" required>
                        <option selected="true" disabled="disabled">Choose type of service</option>
                        <option value="Prepaid">Prepaid</option>
                        <option value="Postpaid">Postpaid</option>
                        <option value="Dongle">Prepaid Dongle</option>
                        <option value="Dongle">Postpaid Dongle</option>
                    </select>
                  </td>
                </tr>
                <tr>
                    <td>NEW NUMBER</td>
                    <td><input  name="Newnumber" type="text" class="form-control" required></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input  name="password" type="password" class="form-control" required></td>
                </tr>
                <tr>
                    <td>PROFILE PHOTO</td>
                    <td><input  name="profilephoto" type="file" class="form-control" required></td>
                </tr>
                <tr>
                    <td>AADHAR PHOTO</td>
                    <td><input  name="aadharphoto" type="file" class="form-control" required></td>
                </tr>
               
                    <td></td>
                    <td><center><button type="submit" class="btn btn-outline-secondary">REGISTER</button></center></td>
                </tr>
            </table>
        </div>
        <br>
          </form></div>
         <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
             
        </div>
    </div>
</div>

{% endblock %}