{% extends 'adminview.html' %}
{% block myContent %}
<style>
    #nav1{
        background-color: white;
    }
    .background{
        background-color: whitesmoke;
        width: 100%;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
        <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
           <form action="http://127.0.0.1:8000/voizfonica/search/" method="post">
            <table class="background">
                <tr>
                    <td><h6>MOBILE NO</h6></td>
                    <td><input name="Newnumber" placeholder="ENTER THE MOBILE NO SEARCH" type="number" class="form-control"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><center><button type="submit" class="btn btn-outline-secondary">SEARCH</button></center></td>
                </tr>
            </table>
           </form>
           {% if data %}
           <div id="nav1">
           <table class="table table-borderless">
               {% for i in data %}
               <tr>
                   <td>CUSTOMER NAME</td>
                   <td>{{i.Cname}}</td>
               </tr>
               <tr>
                <td>AADHAR</td>
                <td>{{i.Caddress}}</td>
            </tr>
            <tr>
                <td>EMAIL</td>
                <td>{{i.Cemail}}</td>
            </tr>
            <tr>
             <td>ADDRESS</td>
             <td>{{i.Caddress}}</td>
         </tr>
         <tr>
            <td>ALTERNATE MOBILE NO</td>
            <td>{{i.Calternatemobilenumber}}</td>
        </tr>
        <tr>
            <td>CUSTOMER TYPE</td>
            <td>{{i.Typeofcustomer}}</td>
        </tr>
        <tr>
            <td>NEW NUMBER</td>
            <td>{{i.Newnumber}}</td>
        </tr>
        <tr>
            <td>PROFILE PHOTO</td>
            <td>{{i.profilephoto}}</td>
        </tr> 
        <tr>
            <td>AADHAR PHOTO</td>
            <td>{{i.aadharphoto}}</td>
        </tr>
      
               {% endfor %}
            </div>
           </table>

           {% endif %}
        </div>

        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
    </div>
</div>
     
{% endblock %}